
    <script src="/lib/js/vendor-all.min.js"></script>
    <script src="/lib/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/js/pcoded.min.js"></script>

    <script src="/lib/plugins/chart-am4/js/core.js"></script>
    <script src="/lib/plugins/chart-am4/js/charts.js"></script>
    <script src="/lib/plugins/chart-am4/js/animated.js"></script>
    <script src="/lib/plugins/chart-am4/js/maps.js"></script>
    <script src="/lib/plugins/chart-am4/js/worldLow.js"></script>
    <script src="/lib/plugins/chart-am4/js/continentsLow.js"></script>
    <script src="/lib/plugins/select2/js/select2.full.min.js"></script>
    <script src="/lib/js/pages/form-select-custom.js"></script>
    <script src="/lib/plugins/multi-select/js/jquery.quicksearch.js"></script>
    <script src="/lib/plugins/multi-select/js/jquery.multi-select.js"></script>

    <script src="/lib/plugins/data-tables/js/datatables.min.js"></script>
    <script src="/lib/js/pages/data-advance-custom.js"></script>
    <script src="/lib/plugins/ratting/js/jquery.barrating.min.js"></script>

    <script src="/lib/js/pages/dashboard-project.js"></script>
  </body>
</html>
