<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <title>Dashboard</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Flash Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs."
    />
    <meta
      name="keywords"
      content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, Flash Able, Flash Able bootstrap admin template"
    />
    <meta name="author" content="Codedthemes" />

    <link
      rel="icon"
      href="http://html.codedthemes.com/flash-able/bootstrap/assets/images/favicon.ico"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="/lib/fonts/feather/css/feather.css" />

    <link rel="stylesheet" href="/lib/plugins/animation/css/animate.min.css" />

    <link rel="stylesheet" href="/lib/plugins/select2/css/select2.min.css" />

    <link
      rel="stylesheet"
      href="/lib/plugins/multi-select/css/multi-select.css"
    />

    <link
      rel="stylesheet"
      href="/lib/plugins/data-tables/css/datatables.min.css"
    />

    <link rel="stylesheet" href="/lib/css/style.css" />
  </head>
  <body class="">
   
