<nav class="pcoded-navbar menupos-fixed menu-light brand-blue">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="index.html" class="b-brand">
        <img
          src="http://html.codedthemes.com/flash-able/bootstrap/assets/images/logo.svg"
          alt=""
          class="logo images"
        />
        <img
          src="http://html.codedthemes.com/flash-able/bootstrap/assets/images/logo-icon.svg"
          alt=""
          class="logo-thumb images"
        />
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-home"></i></span
            ><span class="pcoded-mtext">Dashboard</span></a
          >
          <ul class="pcoded-submenu">
            <li class=""><a href="index.html" class="">ICIETLABA</a></li>
          </ul>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-layout"></i></span
            ><span class="pcoded-mtext">Actualités</span></a
          >
          <ul class="pcoded-submenu">
            <li class="">
              <a href="articles/add" class="">Ajouter un article</a>
            </li>
            <li class="">
              <a href="articles/list" class="">Liste des articles</a>
            </li>
          </ul>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link">
            <span class="pcoded-micon">
              <i class="feather icon-layers"></i>
            </span>
            <span class="pcoded-mtext">Services</span>
          </a>
          <ul class="pcoded-submenu">
            <li class="">
              <a href="service/add" class="">Ajouter un service</a>
            </li>
            <li class="">
              <a href="service/list" class="">Liste des Services</a>
            </li>
          </ul>
        </li>

        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-box"></i></span
            ><span class="pcoded-mtext">Catégories</span></a
          >
          <ul class="pcoded-submenu">
            <li class="">
              <a href="#" class="">Ajouter une catégorie</a>
            </li>
            <li class="">
              <a href="#" class="">List des Catégories</a>
            </li>
          </ul>
        </li>
        <li
          data-username="advance components alert gridstack lightbox modal notification pnotify rating rangeslider slider syntax highlighter tour User card Timeline tree view nestable toolbar"
          class="nav-item pcoded-hasmenu"
        >
          <a href="#!" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-gitlab"></i></span
            ><span class="pcoded-mtext">Utilisateurs</span></a
          >
          <ul class="pcoded-submenu">
            <li class="">
              <a href="#" class="">Ajouter un utiisateur</a>
            </li>
            <li class="">
              <a href="#" class="">Liste des Utilisateurs</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
