<%- include('partials/head_link') %> <%- include('partials/nav') %> <%-
include('partials/header') %>

<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <div class="page-header-title">
                      <h5 class="m-b-10">Project</h5>
                    </div>
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="index.html"
                          ><i class="feather icon-home"></i
                        ></a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="#!">Project Dashboard</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card statustic-card">
                      <div class="card-header borderless pb-0">
                        <h5>Articles</h5>
                      </div>
                      <div class="card-body text-center">
                        <span class="d-block text-c-blue f-36">56</span>
                        <p class="m-b-0">Total</p>
                        <div class="progress">
                          <div
                            class="progress-bar bg-c-blue"
                            style="width: 56%"
                          ></div>
                        </div>
                      </div>
                      <div class="card-footer bg-c-blue border-0">
                        <h6 class="text-white m-b-0">Draft: 22</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card statustic-card">
                      <div class="card-header borderless pb-0">
                        <h5>Tickets</h5>
                      </div>
                      <div class="card-body text-center">
                        <span class="d-block text-c-green f-36">85</span>
                        <p class="m-b-0">Total</p>
                        <div class="progress">
                          <div
                            class="progress-bar bg-c-green"
                            style="width: 85%"
                          ></div>
                        </div>
                      </div>
                      <div class="card-footer bg-c-green border-0">
                        <h6 class="text-white m-b-0">Closed Today: 85</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card statustic-card">
                      <div class="card-header borderless pb-0">
                        <h5>Forums</h5>
                      </div>
                      <div class="card-body text-center">
                        <span class="d-block text-c-purple f-36">42</span>
                        <p class="m-b-0">Total</p>
                        <div class="progress">
                          <div
                            class="progress-bar bg-c-purple"
                            style="width: 42%"
                          ></div>
                        </div>
                      </div>
                      <div class="card-footer bg-c-purple border-0">
                        <h6 class="text-white m-b-0">Unanswered: 42</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
